.wholePageContainer {
  width: 1214px;
  height: 5014px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
}