.textImageContainerCountry {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.holidayTypesTextContainer {
  padding: 12px;
  border: 1px solid #E0E0E0;
  border-radius: 0px 0px 10px 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.countryHeading {
  color: #838383;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 4px;
}

.holidayTypesHeading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}

.holidayTypesDescription {
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
  flex-grow: 1;
}

.holidayTypesButton {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: #FFF;
  color: var(--Time-Travel-Link, #000000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: auto;
}

.holidayTypesButton.selected {
  border-radius: 100px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #317AAB);
  color: #FFFFFF;
}

.greeceImages {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}