.timesChatContainer {
  display: flex;
  gap: 7px;
}

.timesChatHeading {
  color: #00000E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: "timesModern";
}

@font-face {
  font-family: "timesModern";
  src: url('../../fonts/timesModern.otf') format('opentype');
 }

 * {
  font-family: "timesModern";
}