* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
    margin: 26px;
    width: 820px;
    padding: 16px;
    border-radius: 100px;
    background-color: white;
    margin-top: 16px;
}

.textContainer {
    background-image:
    url('../../assets/timesTravel.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
  width: 1214px;
  height:600px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.specifyTextBox,
.inspireTextBox {
    display: flex;
    margin-left: 32px;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.inspireTextBox {
  display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px;
    color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

  .container .ant-dropdown-trigger {
    margin-right: 16px;
  }
  
  .container .ant-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
    justify-content: center;
    height: 56px;
    width: 200px;
    /* justify-content: flex-start; */
  }

  .container .ant-btn .ant-space {
    justify-content: flex-start;
  }

  .container .ant-btn .month-text {
    padding-right: 40px;
    margin-left: 0px;
    color: #5F5F5F;
    font-weight: 500;
  }

  .container .ant-dropdown-menu-item:hover {
    background-color: red;
  }

  .container .ant-btn .month-text, 
  .container .ant-btn .month-text:hover {
    color: #5F5F5F;
  }

.container .ant-btn .anticon-calendar,
.container .ant-btn .anticon-calendar,
.container .ant-btn .anticon-down:hover,
.container .ant-btn .anticon-down {
    color: #2A6495;
}

.pin {
  margin-top: 8px;
}

.container .ant-btn .country-text {
  padding-right: 4px;
  margin-left: 0px;
  color: #5F5F5F;
  font-weight: 500;
}

.container .ant-btn .country-text + .anticon-down {
  margin-left: auto;
  
}


.sundayTimesContainer {
  width: 815px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.sundayTimesTitle {
  color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 40px */
margin-top: 16px;
}

.sundayTimesIntroduction {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-top: 32px;
}

.joannaBox {
  display: flex;
  align-items: flex-start;
  gap: 8px
}

.joanna {
  border-radius: 100px;
  width: 59px;
  height: 59px;
  margin-top: 16px;
}

.joannaText {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

.whereChoice {
  margin-top: 30px;
}