.itineraryDaysContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  border-radius: 0px 0px 10px 10px;
  margin: 0px;
}

.itineraryContentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px;
}

.itineraryDayText {
  color: #1D1D1B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin:0px;
  padding: 16px 0px 0px 0px;
}

.itineraryTitleText {
  color: #1D1D1B;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  padding: 8px 0px 4px 0px;
}

.itineraryDescriptionText {
  color: #1D1D1B;
  font-size: 17.84px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  padding: 8px 0px 8px 0px;
}

.itinerarySelectButton {
  background-color: #FFFFFF;
  color: #317AAB;
  font-size: 16px;
  font-style: normal;
  border-radius: 100px;
  padding: 8px 16px;
  margin-top: 16px;
}