/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @import url(https://db.onlinewebfonts.com/c/88105ce90edee73aa757acfd167e4b90?family=Times+Modern+Regular); */



body {
  background-color: #F7F7F8;
}


@font-face {
  font-family: "timesModern";
  src: url('./fonts/timesModern.otf') format('opentype');
 }

 /* * {
  font-family: "timesModern";
} */